.instrument-details {
 padding-top: 50px;
}

.product-image {
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.product-image img {
  width: 100%;
}

.default-img {
  height: 300px;
  width: 350px;
  padding-left: 0;
  // padding-right: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  padding-right: 20px;
  border-radius: 0 8px 8px 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  h2 {
    font-size: 50px;
  }

  p {
    font-size: 20px;
  }
}

.fas {
  font-size: 8px;
}

.book {
  align-self: flex-start;
  margin: 0;
  padding: 0;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top:20px;
}

.action {
  padding-left: 10px;
}

.instrument-reviews {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 0;
  text-align: center;

  .instrument-reviews p {
    font-size: 24px;
  }
}

.any-reviews {
  align-self: center;
}

.no-reviews {
  align-self: center;
}
